.url-method {
    padding: 1.5rem 0;
    border-top: 0.1rem solid var(--light-color);
    max-width: 99.2rem;
    margin: 1.5rem auto;
}

.url-method > textarea {
    color: var(--dark-color);
    border: 0.2rem solid var(--light-color);
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 0.75em;
    line-height: 1.4em;
    height: 10rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}

.url-method__generate-button {
    background-color: transparent;
    border: 0.2rem solid var(--light-color);
    border-radius: 0.3rem;
    background-color: var(--dark-color);
    color: white;
    font-size: 1.8rem;
    padding: 1rem 0.7rem;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.url-method__display-image {
    background-color: #efefef;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--light-color);
    padding: 2rem;
    background-color: var(--dark-color);
    margin-bottom: 1rem;
}
.url-method__image-placeholder {
    position: relative;
    min-height: 10rem;
    background-color: white;
    font-weight: 700;
}
.url-method__image-placeholder:after {
    position: absolute;
    content: "Enter source URL to view image";
    width: 90%;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark-color);
}

.url-method__result {
    height: 29.5rem;
    max-height: 0;
    overflow-y: hidden;
    transition-duration: 0.3s;
}

.url-method__fetching {
    position: relative;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    height: 28rem;
    grid-template-columns: 1fr;
    /* background-color: #efefef; */
    margin-bottom: 1.5rem;
}

.url-method__fetching::after,
.url-method__fetching:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-color: #efefef;
    border: 0.1rem solid #ccc;
    animation: pulse 3s;
    animation-iteration-count: infinite;
}

.url-method__fetching:before {
    height: 18.8rem;
    top: 0;
}

.url-method__fetching::after {
    bottom: 0;
    height: 7.7rem;
}
@keyframes pulse {
    0% {
        background-color: #efefee;
    }
    50% {
        background-color: #ddd;
    }
    100% {
        background-color: #efefee;
    }
}
