.App {
  text-align: center;
  padding:1.5rem;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom:2rem;
}

.title{
  padding: 0.5rem;
}

img, .upload-center, .output-center{
  width: 100%;
}

.content{
  display: grid;
grid-template-columns: 49% .1rem 49%;
  max-width: 100%;
  margin-bottom: 2rem;
}
 .content div:first-child,
.content div:last-child{
  border:.1rem solid #eee;
}

.tabs{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.tabs button:not(:first-child){
  margin-left: 0.5rem;
}

button.copier{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: white;
  right:.5rem;
  top: .5rem;
  padding: .1rem .6rem;
}

button.copier.copied{
  background: rgb(187, 235, 187);
}

button.selected{
  background-color: #333;
  color:#fff;
}

.code-output{
  position: relative;
  border: 4px solid black;
  background-color: rgb(104, 135, 202);
  padding: 1rem;
  box-sizing:border-box;
  width: 100%;
}

.code-output label{
  display: block;
  margin-bottom:.5rem;
}

input.pre-code{
  background-color: rgb(182, 200, 238);
  font-size: small;
}


input{
  width: 98%;
  margin-bottom: 0.5rem;
}

.divider{
  width: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-left: white 1px solid;
}